survey


<table class="table table-bordered" border='1'>
  <thead>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>Survey link</th>
  </tr>
  </thead>

  <tbody>
  <% @survey.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.description%></td>
        <td><%=link_to 'Survey link', s%></td>
      </tr>
  <% end %>
  </tbody>
</table>
